	:root {
		
		--background: #2b2b2b;
		--codeBg: #304a25;
		--secBg: #baf44f39 ;
		--thirdBBackground: rgba(105, 196, 35, 0.65); /*char*/
		--fourthBg: #099548b8; /*world*/
        --fifthBg: #ecef3a88; /*faction*/
		
		--border: #56b914;
		--secBorder: #a9f123;
		--thirdBorder: #46d214;
		--fourthBorder: #0db157f6;
        
		--fifthBorder: #bde10b; /*doubles as faction text*/
		
		--textColor: #fff;
		--codeTx: #b7e326;
		--worldText: rgb(21, 238, 93);
		--charText: rgb(84, 232, 61);
		
	}

	* {
		box-sizing: border-box;
	}

	body {
		background-color: var(--background);
		color: var(--textColor);
		margin: 0px;
	}

	a {
		text-decoration: none;
	}
	section {
		padding: 5px;
		border: solid var(--border) 3px;
		border-radius: 10px;
		margin: 10px;
	}

	section.main {
		margin-top: 15px;
		border:var(--secBorder) solid 3px;
	}


	code.highlight {
		background: var(--codeBg);
		color: var(--codeTx);
		border-style: none;
		border-radius: 5px;
		padding: 2px;
		font-size: 0.95rem;
	}

	li {
		display: grid;
        grid-template-columns: repeat(auto, minmax(160px,1fr));
        gap: 10px;
		font-size: 20px;
		padding: 10px;
		list-style: none;
		margin: 10px;
		margin-right: 1.2rem; 
		border: var(--secBorder) dotted;
		border-radius: 10px;
		text-align: center;
		transform:translateX(-13.5px);
		background: rgba(96, 176, 74, 0.354);
	}

	.work {
		margin-left: 2rem;
		padding:10px;
		padding-top: 2px;
		border-left: solid 4px var(--secBorder);
		border-radius: 4px;
		background-color: var(--secBg);
	}

	.work-title {
		margin-bottom: 0px;
	}

	.sub {
		font-weight:600;
		font-size:14px; 
		color:#acacac;
		margin-top: 0;
		margin-bottom: 15;
	}

	.extra-info {
		text-align: center;
		color:rgb(149, 153, 156);
	}

	.info {
		padding-left: 1rem;
		margin-bottom: 1rem;
		margin-top: 0.2rem;
		max-width: 320px;
	}

	.card-list {
		display: flex;
		gap: 15px;
		overflow-x: auto;
		padding: 10px;
	}

	.char, .worldbuilding, .faction {
		flex: 0 0 350px;
		border-radius: 10px;
		border: 3px dotted;
		
		scroll-snap-align: start;
		font-family: Georgia, 'Times New Roman', Times, serif;
		font-weight:500;
		
		scrollbar-width:thin;
		scroll-snap-type: x mandatory;
	}

	.char {
		border-color: var(--thirdBorder);
		background: var(--thirdBBackground);
		color: var(--charText);
	} 

	.worldbuilding {
		border-color: var(--fourthBorder); 
		background: var(--fourthBg);
		color: var(--worldText);
	}

    .faction {
        border-color: var(--fifthBorder);
        background: var(--fifthBg);
        color: var(--fifthBorder);
    }

	.name {
		padding-left: 10px;
		margin-top: 1rem;
		margin-bottom: 6px;
	}

	article {
		max-width: 450px;
	}

	#works-head {
		margin-left: 40px;
	}

	#warnLabel {
		font-size: 15px;
		margin: 10px;
		text-align: center;
		padding: 20px;
		border: solid 2px black;
		background-color: black;
		color: #b5b5b5;
		border-radius: 5px;
	}

	footer {
		padding: 40px;
		background-color: rgb(23, 58, 58);
	}

	.footInfo {
		border: solid 2px;
		border-color:rgb(26, 92, 92);
		background-color: rgb(26, 92, 92);
		border-radius: 10px;
		padding: 10px;
		text-align: center;
	}

	#contactInfo {
		border: none;
		border-bottom: 2px solid black;
		border-radius: 0px;
		border-color: rgb(48, 120, 120);
		font-weight: bold;
	}
