	:root {
		--codeBg: #304a25;
		--codeTx: #b7e326;
		--background: #2b2b2b;
		--secBg: #baf44f39 ;
		--thirdBBackground: rgba(222, 198, 14, 0.65);
		--fourthBg: #740995b8;
		--border: #56b914;
		--secBorder: #a9f123;
		--thirdBorder: #ffea00;
		--fourthBorder: #9306f7;
		--textColor: #fff;
		--worldText: rgb(177, 21, 238);
		--charText: rgb(233, 222, 12);
	}

	* {
		box-sizing: border-box;
	}

	body {
		background-color: var(--background);
		color: var(--textColor);
		margin: 0px;
	}

	section {
		padding: 5px;
		border: solid var(--border) 3px;
		border-radius: 10px;
		margin: 10px;
	}

	section.main {
		margin-top: 15px;
		border:var(--secBorder) solid 3px;
	}


	code.highlight {
		background: var(--codeBg);
		color: var(--codeTx);
		border-style: none;
		border-radius: 5px;
		padding: 2px;
		font-size: 0.95rem;
	}

	li {
		display: grid;
        grid-template-columns: repeat(auto, minmax(160px,1fr));
        gap: 10px;
		font-size: 20px;
		padding: 10px;
		list-style: none;
		margin: 10px;
		margin-right: 1.2rem; 
		border: var(--secBorder) dotted;
		border-radius: 10px;
		text-align: center;
		transform:translateX(-13.5px);
		background: rgba(96, 176, 74, 0.354);
	}

	.work {
		margin-left: 2rem;
		padding:10px;
		padding-top: 2px;
		border-left: solid 4px var(--secBorder);
		border-radius: 4px;
		background-color: var(--secBg);
	}

	.work-title {
		margin-bottom: 0px;
	}

	.sub {
		font-weight:600;
		font-size:14px; 
		color:#acacac;
		margin-top: 0;
		margin-bottom: 15;
	}

	.extra-info {
		text-align: center;
		color:rgb(149, 153, 156);
	}

	.info {
		padding-left: 1rem;
		margin-bottom: 1rem;
		margin-top: 0.2rem;
		max-width: 320px;
	}

	.card-list {
		display: flex;
		gap: 15px;
		overflow-x: auto;
		padding: 10px;
	}

	.char, .worldbuilding {
		flex: 0 0 350px;
		border-radius: 10px;
		border: 3px dotted;
		
		scroll-snap-align: start;
		font-family: Georgia, 'Times New Roman', Times, serif;
		font-weight:500;
		
		scrollbar-width:thin;
		scroll-snap-type: x mandatory;
	}

	.char {
		border-color: var(--thirdBorder);
		background: var(--thirdBBackground);
		color: var(--charText);
	} 

	.worldbuilding {
		border-color: var(--fourthBorder); 
		background: var(--fourthBg);
		color: var(--worldText);

	}

	.name {
		padding-left: 10px;
		margin-top: 1rem;
		margin-bottom: 6px;
	}

	article {
		max-width: 450px;
	}

	#works-head {
		margin-left: 40px;
	}